<div class="jumbotron">
  <h1>Chatops for your DNS records</h1>
  <p class="lead">NekoDNS integrates with your DNS provider to let you manage your domains on-the-go through your
    favourite instant messaging platform.</p>
  <hr class="my-4">
  <p>We currently support <a href="https://aws.amazon.com/route53/">AWS Route 53</a> and
    <a href="https://telegram.org/">Telegram Messenger</a>.</p>
  <p><a href="https://cloud.google.com/dns/">Google Cloud DNS</a>,
    <a href="https://www.digitalocean.com/docs/networking/dns/">DigitalOcean DNS</a> and
    <a href="https://slack.com/">Slack</a> support is on the roadmap!</p>
  <a class="btn btn-primary btn-lg" href="https://nekodns.gitlab.io/" role="button">Documentation</a>
  <a class="btn btn-primary btn-lg" href="https://gitlab.com/nekodns/nekodns" role="button">Source</a>
</div>