<h1><%= @domain.root %></h1>

<p>Are you sure you want to delete this zone?</p>

<div>
  <%= link_to 'Back', @domain, class: 'btn btn-primary' %>
  <%= link_to 'Delete zone', @domain, method: :delete, class: 'btn btn-danger' %>
</div>
