<h1>My domains</h1>

<a href="<%= new_domain_path %>" class="btn btn-primary">Add a domain</a>

<div class="my-3">
  <ul class="list-group">
    <% if @domains.empty? %>
      <li class="list-group-item">You haven't added any domains yet!</li>
    <% else %>
      <% @domains.each do |domain| %>
        <li class="list-group-item list-group-item-action"><%= domain.root %></li>
      <% end %>
    <% end %>
  </ul>
</div>
