<% content_for :breadcrumbs do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Zones</li>
    </ol>
  </nav>
<% end %>

<h1>My Zones</h1>

<div>
  <a href="<%= new_zone_path %>" class="btn btn-primary">Create new zone</a>
  <a href="<%= zones_import_path %>" class="btn btn-primary">Import zone</a>
</div>

<div class="my-3">
  <div class="list-group">
    <% if @zones.empty? %>
      <div class="list-group-item">You haven't created any zones yet!</div>
    <% else %>
      <% @zones.each do |zone| %>
        <a href="<%= zone_path(zone) %>" class="list-group-item list-group-item-action"><%= zone.root %></a>
      <% end %>
    <% end %>
  </div>
</div>
