<% content_for :breadcrumbs do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Credentials</li>
    </ol>
  </nav>
<% end %>

<h1>Credentials</h1>

<div class="my-3">
  <a href="<%= new_credential_path %>" class="btn btn-primary">Add credential</a>
</div>

<div class="my-3">
  <div class="list-group">
    <% if @credentials.empty? %>
      <div class="list-group-item">You haven't added any credentials yet!</div>
    <% else %>
      <% @credentials.each do |credential| %>
        <a href="<%= credential_path(credential) %>" class="list-group-item list-group-item-action"><%= credential.name %></a>
      <% end %>
    <% end %>
  </div>
</div>