<ul class="navbar-nav">
  <li class="nav-item">
    <span class="navbar-text text-dark"><%= session[:name] %></span>
  </li>
  <li class="nav-item">
    <a href="<%= logout_path %>" class="nav-link">Logout</a>
  </li>
</ul>